<h1>Admin &gt; Post &gt; detail</h1>
<ul>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/admin/post">List</a></li>
</ul>
<br><br>
<table>
	<thead>
		<td>Title</td>
		<td>Content</td>
	</thead>
	<tr>
		<td><%= @post.title %></td>
		<td><%= @post.content %></td>
	</tr>
</table>
<br>
<a href="/admin/post">List</a>
<br>